.audio-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .play-btn {
        height: 2rem;
        width: 2rem;
        margin-right: 3%;

        border-radius: 10px;
        border: none;
    }

    .progress-container {
        width: 100%;

       .timeline {
        width: 97%;
        height: 2rem;

        border-radius: 50px;

        background-color: #e0e0e0;
        cursor: pointer;
        position: relative;

        justify-self: end;
      
        .progress {
            border-radius: 50px;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.3);
            transition: width 0.3s ease-in-out;
        }
      }
    }     
}

