.pagination-container {
    padding: 0 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;

    button {
        height: 2rem;
        width: 3rem;

        border: none;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(1) {
            background: rgba($color: #de9318, $alpha: 0.5);
            border-radius: 10px;
        }

        &:nth-child(2) {
            background: transparent;
        }

        &:last-child {
            background: rgba($color: #de9318, $alpha: 0.5);
            border-radius: 10px;
        }

        .book-img {
            margin-top: 0.2rem;
            width: 100%;
        }
    }
}