.dropdown-bg {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: rgba($color: #000000, $alpha: 0.5);

    z-index: 20;
}


.content-container {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .content-window {
        border-radius: 10px;
        padding: 3rem 2rem;
        
        height: 50vh;
        width: 70%;

        min-width: 300px;
        min-height: 380px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        z-index: 30;
    
        background: rgba($color: #000000, $alpha: 0.5);
        color: white;

        text-align: center;

        .multi-sound-container {
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h1 {
                text-align: center;
                margin-bottom: 10rem;
            }

            .sound-page {
                width: 100%;
            }
        }

        .multi-image-container {
            height: 100%;
            width: 100%;
        }
    }
}